.nacional{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    
}
.destino1{
    border: 1px solid black;
    padding-bottom: 10px;
}
.btninfo{
    background-color: aqua;
    width: 40%;
    height: 30px;
    font-size: 20px;
}
.btninfo:hover{
    background-color: lightgray;
    width: 40%;
    height: 30px;
    font-size: 20px;
}
.btnhotel{
    background-color: lightcoral;
    width: 40%;
    height: 30px;
    font-size: 20px;
}
.btnhotel:hover{
    background-color: lightgray;
    width: 40%;
    height: 30px;
    font-size: 20px;
}